body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Climate Crisis", cursive;
  font-size: 46px;
  color: white;
  padding-top: 40px;
}

.messageBoard {
  margin-top: 40px;
  width: 50%;
  height: 13%;
  background-color: black;
}

.gameBoard {
}
